<launch>
    <!--</arg>-->
    <rosparam command="load" file="$(find bsu_racecar)/Launch/includes/vesc.yaml"/>
    <rosparam command="load" file="$(find bsu_racecar)/Launch/includes/racecar.yaml" />
    <include file="$(find vesc_ackermann)/launch/ackermann_to_vesc_node.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <node pkg="bsu_racecar" type="policy.py" name="policy" output="screen" cwd="node"/>
    <node pkg="bsu_racecar" type="controller.py" name="controller" output="screen"/>
    <node pkg="bsu_racecar" type="human.py" name="human" output="screen"/>
    <!--run zed launch file-->
    
    <node pkg="vesc_driver" type="vesc_driver_node" name="vesc_driver" />
    <include file="$(find zed_wrapper)/launch/zed.launch"/>
    <node pkg="bsu_racecar" type="lidar_test" name="lidar_test" />
    <node pkg="joy" type="joy_node" name="joy_node"/>
</launch>
